/*
	on the background being a linear gradient, go to the desired colour on color-hex.com 
	pick the colour two shades darker for the second colour.
	OR 
	use adobe.color.com
*/

/*helpmesee*/
	.BlindGlasses {
		background: #0CCDA8;
	}

	#BlindGlasses {
		color: rgba(90, 25, 25, 0.8); 
	}

	#BlindGlasses a {
		color: #CD400C;
	}

/*encmp100*/
	.RevitalizingENCMP {
		background: #ffc85e; 
	}
	#RevitalizingENCMP {
		color: rgba(0, 0, 0, 0.6); 
	}
	#RevitalizingENCMP a {
		color: #004AB2 !important;
	}
	#RevitalizingENCMP .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #004AB2 !important;
        background-color:  #004AB2 !important;
	}

/*hacktime*/
	.HackTime {
		background: #16703D; 
	}
	#HackTime {
		color: rgba(199, 199, 199, 0.68); 
	}
	#HackTime a {
		color: rgb(255, 189, 56) !important;
	}
	#HackTime .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  rgb(255, 189, 56) !important;
        background-color:  rgb(255, 189, 56) !important;
	}

/*eceweekhacked2017*/
	.HackEd2017 {
		background: #53147E;
	}
	#HackEd2017 {
		color: rgba(199, 199, 199, 0.68); 
	}
	#HackEd2017 a {
		color: #C0C0C0 !important;
	}
	#HackEd2017 .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #C0C0C0 !important;
        background-color:  #C0C0C0 !important;
	}

/*AUcourses*/
	.AUcourses {
		background: #e4c18e; 
	}
	#AUcourses {
		color: rgba(0,0,0,0.5);
	}
	#AUcourses a {
		color: rgba(0,0,0,0.8) !important;
	}
	#AUcourses .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  rgba(0,0,0,0.8) !important;
        background-color:  rgba(0,0,0,0.8) !important;
	}

/*reactlessons*/
	.ReactLessons {
		background: #ff8f4a; 
	}
	#ReactLessons {
		color: rgba(0, 0, 0, 0.9);
	}
	#ReactLessons a {
		color: #61DAFB; 
	}
	#ReactLessons .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #61DAFB; 
        background-color:  #61DAFB; 
	}

/*makeover*/
	.makeover {
		background: #129EB2/*#3E3C10*/; 
	}
	#makeover {
		color: rgba(255,255,255,0.5); 
	}
	#makeover a {
		color: #ED4F67;
	}
	#makeover .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #ED4F67;
        background-color:  #ED4F67;
	}

/*testingproj*/
	.testingproj {
		background: #414141/*#216CA3*/; 
	}
	#testingproj {
		color: rgba(255,255,255,0.5);
	}
	#testingproj a {
		color: #1A3D57; 
	}
	#testingproj .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #1A3D57; 
        background-color:  #1A3D57; 
	}

/*dbhospitalapp*/
	.DatabaseProject {
		background: /*#749B74*/#F4AF92; 
	}
	#DatabaseProject {
		color: rgba(0,0,0,0.3);
	}
	#DatabaseProject a {
		color: #09FDFB;
	}
	#DatabaseProject .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #09FDFB;
        background-color:  #09FDFB;
	}

/*howtocompe*/
	.HowToCompEworkshops {
		background: #d9e6e0; 
	}
	#HowToCompEworkshops {
		color: rgba(0,0,0,0.8);
	}
	#HowToCompEworkshops a {
		color: #1B4610 !important;
	}
	#HowToCompEworkshops .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #1B4610 !important;
        background-color:  #1B4610 !important;
	}

/*dbnormalizerapp*/
	.dbnormalizerapp {
		background: /*#F4AF92*/#749B74; 
	}
	#dbnormalizerapp {
		color: rgba(0,0,0,0.3);
	}
	#dbnormalizerapp a {
		color: #09FDFB;
	}
	#dbnormalizerapp .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #09FDFB;
        background-color:  #09FDFB;
	}

/*cloudycar*/
	.CloudyCar {
		background: /*#135FAB*/#e2c3d1; 
	}
	#CloudyCar {
		color: #135FAB;  /*#237e7c;*/
	}
	#CloudyCar a {
		color: #fff; /*#ffbd38;*/
	}
	#CloudyCar .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #fff; /*#ffbd38;*/
        background-color:  #fff; /*#ffbd38;*/
	}

/*d3tutorial*/
	.LearningD3 {
		background: #7f3ea5/*#f5844b*/; 
	}
	#LearningD3 {
		color: #f5844b !important;
	}
	#LearningD3 a {
		color: #f5844b !important;
	}
	#LearningD3 .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #f5844b !important;
        background-color:  #f5844b !important;
	}

/*C301as1*/
	.FirstAndroidProject {
		background: #B0BEC5/*#B0AB18*/; 
	}
	#FirstAndroidProject {
		color: #4d8e33 !important;
	}
	#FirstAndroidProject a {
		color: #4d8e33 !important;
	}
	#FirstAndroidProject .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #4d8e33 !important;
        background-color:  #4d8e33 !important;
	}

/*ECEW17*/
	.ECEW17 {
		background: #112188; 
		background-image: url("../img/proj/proj-ecew17.png") no-repeat fixed;
		background-image: url("../img/proj/proj-ecew17.png") no-repeat fixed, /*#112188*/#040B3B; 
	}
	#ECEW17 {
		color: #ffbd38 !important;
	}
	#ECEW17 a {
		color: #ffbd38 !important;
	}
	#ECEW17 .block .picture:hover {
		box-shadow: 0px 0px 30px 30px #007E60;
        background-color: #007E60;
    }


/*CEClub*/
	.CEClub {
		background: /*#1A450F*/#13330B; 
	}
	#CEClub {
		color: #fff !important;
	}
	#CEClub a {
		color: #fff !important;
	}
	#CEClub .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #fff !important;
        background-color:  #fff !important;
	}

/*pkb*/
	.pkb {
		background: /*#222222*/#1b1b1b; 
	}
	#pkb {
		color: #fff !important;
	}
	#pkb a {
		color: #fff !important;
	}
	#pkb .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #fff !important;
        background-color:  #fff !important;
	}

/*shoutbox2*/
	.ShoutBox {
		background: #e0c6a7/*#A09A92*/; 
	}
	#ShoutBox {
		color: #663560 !important;
	}
	#ShoutBox a {
		color: #663560 !important;
	}
	#ShoutBox .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #663560 !important;
        background-color:  #663560 !important;
	}

/*dra*/
	.RDFResearch {
		background: #323232; 
	}
	#RDFResearch {
		color: rgba(255,255,255,0.6) !important;
	}
	#RDFResearch a {
		color: white !important;
	}
	#RDFResearch .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*fire*/
	.FireEscape {
		background: /*#b3afae*/#984b37; 
	}
	#FireEscape {
		color: black !important;
	}
	#FireEscape a {
		color: black !important;
	}
	#FireEscape .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  black !important;
        background-color:  black !important;
	}

/*eceweekhacked2015*/
	.ECEWeek-HackEd2016 {
		background: #2f355a; 
	}
	#ECEWeek-HackEd2016 {
		color: rgba(199, 199, 199, 0.68); 
	}
	#ECEWeek-HackEd2016 a {
		color: #ffbd38 !important;
	}
	#ECEWeek-HackEd2016 .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  #ffbd38 !important;
        background-color:  #ffbd38 !important;
	}

/*ciao*/
	.ciao {
		background: /*#374ca5*/#374ca5; 
	}
	#ciao {
		color: rgba(255,255,255,0.6) !important;
	}
	#ciao a {
		color: white !important;
	}
	#ciao .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*rdf*/
	.rdf {
		background: /*black*/#323232; 
	}
	#rdf {
		color: rgba(255,255,255,0.6) !important;
	}
	#rdf a {
		color: white !important;
	}
	#rdf .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*reviews*/
	.reviews {
		background: /*#2c3e50*/#1e2b38; 
	}
	#reviews {
		color: rgba(255,255,255,0.6) !important;
	}
	#reviews a {
		color: white !important;
	}
	#reviews .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*senti*/
	.SentimentAnalysis {
		background: /*#222222*/#3BB873; 
	}
	#SentimentAnalysis {
		color: rgba(255,255,255,0.6) !important;
	}
	#SentimentAnalysis a {
		color: white !important;
	}
	#SentimentAnalysis .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*conn4*/
	.ConnectFour {
		background: /*#0088ff*/#0088ff; 
	}
	#ConnectFour {
		color: rgba(255,255,255,0.6) !important;
	}
	#ConnectFour a {
		color: white !important;
	}
	#ConnectFour .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*shoutbox*/
	.ShoutBox {
		background: /*#283e50*/#283e50; 
	}
	#ShoutBox {
		color: rgba(255,255,255,0.6) !important;
	}
	#ShoutBox a {
		color: white !important;
	}
	#ShoutBox .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*tetris*/
	.tetris {
		background: /*black*/black; 
	}
	#tetris {
		color: rgba(255,255,255,0.6) !important;
	}
	#tetris a {
		color: white !important;
	}
	#tetris .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*resnet*/
	.ConferenceApp {
		background: /*#b7703c*/#9e663c; 
	}
	#ConferenceApp {
		color: rgba(255,255,255,0.6) !important;
	}
	#ConferenceApp a {
		color: white !important;
	}
	#ConferenceApp .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}

/*runner*/
	.runner {
		background: /*#9ec2f4*/#9ec2f4; 
	}
	#runner {
		color: rgba(255,255,255,0.6) !important;
	}
	#runner a {
		color: white !important;
	}
	#runner .blocks .picture:hover {
		box-shadow: 0px 0px 10px 10px  white !important;
        background-color:  white !important;
	}